.company {
    &__infor {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__image {
        width: 250px;
        height: 250px;
        border-radius: 10px;
        & img {
            filter: drop-shadow(0px 0px 12px rgba(172, 168, 168, 0.134));
            aspect-ratio: 1/1;
            width: 100%;
            object-fit: contain;
        }
    }
}