.header {
    padding: 5px;
    max-height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: #ddd;
    box-shadow: 0px 0px 15px #ddd;

    &__main{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{
        padding: 5px;
        display: flex;
        align-items: center;
        width: 50px;
        height: 50px;
        & img{
            width: 100%;
            object-fit: cover;
            aspect-ratio: 1/1;
            border-radius: 50%;
        }
    }
    &__actions{
        display: flex;
        gap: 10px;
    }
}
// .btn-active{
//     background: orange;
// }
// .header{
//     background: transparent;
//     box-shadow: 0px 0px 15px #ddd;
// }