.login {
    display: flex;
    justify-content: space-between;
    height: 564px;
    align-items: center;

    &__main {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 350px;
        margin: auto;
        padding: 10px;
        background-color: transparent;
        box-shadow: 0px 0px 15px #ddd;
        border-radius: 5px;
    }

    &__type {
        display: flex;
        align-items: center;
    }

    &__title {
        cursor: pointer;
        text-align: center;
        width: 50%;
        transition: all 0.3s ease 0s;
        padding-bottom: 2px;

        &.active {
            border-bottom: 1px solid rgba(255, 0, 0, 0.392);
        }

        & div {
            color: black;
            font-weight: 600;
            font-size: 20px;
        }
    }

    &__form--forgetPass {
        margin-top: -15px;
        text-align: end;
        
        & button{
            &:hover {
                color: red!important;
            }
        }
    }

    &__company {
        padding: 10px;
    }

    &__text {
        text-align: center;
        font-size: 15px;
        max-width: 210px;
        margin: 10px auto 0px auto;
        opacity: 0.2;
    }
}


.btn {
    &__login {
        width: 100%;
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        border: none;
        // animation: gradientShift 4s ease infinite;
        // background-size: 200% 200%;
        transition: background-color 2s ease;

        &--company {
            background: linear-gradient(to left, purple, aqua);

            &:hover {
                color: #fff !important;
                border-color: none !important;
                background: linear-gradient(to right, purple, aqua) !important;
            }
        }

        &--user {
            background: linear-gradient(to left, #9BF700, #D0009E);

            &:hover {
                color: #fff !important;
                border-color: none !important;
                background: linear-gradient(to right, #9BF700, #D0009E) !important;
            }
        }
    }
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.nav-item{
    width: 50%;
}
.nav-link{
    width: 100%;
}